# Python
__pycache__/
*.py[cod]
*.pyo

# Base de datos SQLite
*.db
*.sqlite3

# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
